//Variables de colores:
$cabecera_footer: #F53DAE;
$fondo_contenido: #FF9494;
$fondo_nav:	#DECCCC;
$botones: #A5D6D6;

//Colores secundarios:
$secundario1: #FF87D1;
$secundario2: #FFC4C4;
$secundario3: #FCF2F2;
$secundario4: #CBF2F2; //encendido de los botones.
