

.imgRedonda {
  width:100px;
  height:100px;
  border-radius:150px;
}

.negrita{
  font-weight: bold;
  font-size: 18px;
}

.fondoPref{
  background-image: url(../assets/fondoPref.jpg);
  background-size: cover;
}

.user{
  width: 44px;
}

.conectado{
  border-radius: 1em 1em 1em 1em;
  background-color: green;
}
